---
layout: default
title: "Demo of Collections"
permalink: work/index.html
current_nav: work
---

<section class="section">

	{% assign projects = site.projects | sort : 'date' | reverse %}

	{% for item in projects %}

		{% if forloop.first %}
			<div class="row">
				<div class="column medium-6">
		{% endif %}

					<article>
						<a href="{{ item.url }}">
							<img src="{{ item.project_thumbnail | prepend:'/assets/img/projects/' }}" class="imgfluid" alt="{{ item.title }}">
							<h2 class="project__title">{{ item.title }}</h2>
							<p class="project__description">{{ item.project_excerpt }}</p>
						</a>
					</article>

		{% if forloop.last %}
				</div>
			</div>
		{% else %}
			</div>
				<div class="column  medium-6">
		{% endif %}

	{% endfor %}

</section>